@model Lightnovel.Models.Response

@{
    ViewData["Title"] = "Create New Novel";
}

<h1>Create</h1>

<a asp-action="Index" class="btn btn-primary">Back to List</a>

<div class="statusCode">
    @if (Model.statusCode == 200)
    {
        <p id = "okay">
            Status: @Html.DisplayFor(model => model.statusCode)
        </p>
    }
    else
    {
        <p id="notokay">
            Status: @Html.DisplayFor(model => model.statusCode)
        </p>
    }
</div>
<div class="statusDescript">
    <p>
        @Html.DisplayFor(model => model.statusDescription)
    </p>
</div>

<h4>Novel</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="novels[0].Title" class="control-label"></label>
                <input asp-for="novels[0].Title" class="form-control" />
                <span asp-validation-for="novels[0].Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="novels[0].OriginalLanguage" class="control-label">Original Language</label>
                <input asp-for="novels[0].OriginalLanguage" class="form-control" />
                <span asp-validation-for="novels[0].OriginalLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="novels[0].Blurb" class="control-label">Description</label>
                <input asp-for="novels[0].Blurb" class="form-control" />
                <span asp-validation-for="novels[0].Blurb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="novels[0].Rating" class="control-label"></label>
                <input asp-for="novels[0].Rating" class="form-control" />
                <span asp-validation-for="novels[0].Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="novels[0].Genre" class="control-label"></label>
                <input asp-for="novels[0].Genre" class="form-control" />
                <span asp-validation-for="novels[0].Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="novels[0].TranslatedStatus" class="control-label">Translated Status</label>
                <input asp-for="novels[0].TranslatedStatus" class="form-control" />
                <span asp-validation-for="novels[0].TranslatedStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="novels[0].Link" class="control-label"></label>
                <input asp-for="novels[0].Link" class="form-control" />
                <span asp-validation-for="novels[0].Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="novels[0].CreatorId" class="control-label"></label>
                <select asp-for="novels[0].CreatorId" class="form-control" asp-items="ViewBag.Creator"></select>
                <span asp-validation-for="novels[0].CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="novels[0].Comic" class="control-label"></label>
                <select asp-for="novels[0].ComicId" class="form-control" asp-items="ViewBag.Comic"></select>
                <span asp-validation-for="novels[0].ComicId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="novels[0].RawId" class="control-label"></label>
                <select asp-for="novels[0].RawId" class="form-control" asp-items="ViewBag.Raw"></select>
                <span asp-validation-for="novels[0].RawId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
