@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id= "welcome">
    <div>
        <h1>
            Welcome to My Book API!!!
        </h1>
        <a href="../LightNovels/Index" id="button">
            View Light Novels
        </a>
        <p>
            My idea for the final project is to create a Book API, or an API for light novels to be exact.
            While I have followed through with my plans discussed in my 
            <a target="_blank" href="https://docs.google.com/presentation/d/1C-BttiUcz1o9aQ56JprT3oinFUxW6E1LR3Vv-zhjfa0/edit?usp=drivesdk">PPT presentation</a>
            during class, there are some minor changes. The final code and information for my project can be found in my 
            <a target="_blank" href="https://github.com/akthyang/CSCI-39537-Intro-to-API/tree/FinalProject">Github repository</a>.
            <br>
        </p>
        <h6>
            Please click the button above to see the actual data and edit information in my API.
        </h6>
    </div>
</div>
