html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* css for the nav bar on all pages */
.nav-item a {
  text-decoration: none;
  color: black;
  height: 100%;
  margin: 0px 10px;
  padding: 10px;
}

.nav-item a:hover, #button:hover {
  color: white;
  background-color: black;
}

/* css for the index page */
#welcome {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#welcome h1, h1 {
  margin-bottom: 40px;
}

#button {
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 15px 20px;
  margin: 5px;
  cursor: pointer;
}

#welcome p {
   margin-top: 40px;
}

#welcome p a, table #title a, table #raw a, table #comic a {
  text-decoration: none;
  color: none;
  cursor: pointer;
  color: black;
}

#welcome p a:hover, table #title a:hover, 
table #raw a:hover, table #comic a:hover {
  color: cornflowerblue;
}

/* css for title of Novels page */
#allnovels {
  margin-bottom: 10px;
}

/* allows statusDescript to be right under statusCode */
.statusCode {
  width: 100%;
  height: 25px;
}

.statusCode p {
  background-color: forestgreen;
  width: 100px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 0px;
  /* moves item to right */
  float: right;
}

.statusDescript {
  margin-bottom: 30px;
  font-size: 12px;
  /* moves item to right */
  float: right;
}

#note {
  margin-top: 30px;
  width: 100%; 
  font-size: 14px
}

table #title a {
  font-weight: bold;
}

/* css for the create, edit, delete, details page */
.row .col-md-4 form .form-group {
  margin: 10px 0px;
}

.row .col-md-4 form .form-group label {
  margin: 5px 0px;
}

.backbutton {
  margin-bottom: 10px;
}

.backbutton a, #submitbutton input {
  width: 120px;
}